:root {
    --ct-text-size: 14px;
    --ct-line-height: 1.6;
    --ls-font-family: FontAwesome, sans-serif; 
    --ct-page-title-font-family: var(--ls-font-family);
    --ct-code-font-family: monospace;
}
